:root {
    --font-mono: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

body {
    padding: 4rem 2rem;
    width: 100vw;
    min-height: 100vh;
    display: grid;
    align-content: center;
    justify-content: center;
}

a {
    color: inherit;
}

h2 {
    font-weight: 500;
    font-size: clamp(1.5rem, 1rem + 1.25vw, 2rem);
}