---
import MainHead from '../components/MainHead.astro';
import AnalyticsBody from '../components/AnalyticsBody.astro';
import AnalyticsFooter from '../components/AnalyticsFooter.astro';12
---
<!doctype html>
<html lang="en">
<head>
    <MainHead title="JBeshir" description="JBeshir's Personal Site" canonicalURL={Astro.request.canonicalURL} />

    <link rel="stylesheet" href="/style/home.css">

    <style>
        header {
            display: flex;
            flex-direction: column;
            gap: 1em;
            max-width: min(100%, 68ch);
        }

        main {
            max-width: 500px;
        }

        h2 {
            margin-top: 0.5em;
        }

        .logo {
            font-size: clamp(2rem, -0.4742rem + 6.1856vw, 2.75rem);
        }

        .logo > a {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .logo > a > h1 {
            font-size: 1em;
        }

        .logo > a > img {
             width: 2em;
             height: 2em;
         }

        .contest-list, .profile-list, .volunteering-list {
            line-height: 1.25em;
            margin-top: 0.5em;
        }
    </style>
</head>
<body>
    <AnalyticsBody />
    <header>
        <div class="logo">
            <a href="/">
                <img width="240" height="240" src="/assets/logo.svg" alt="avatar">
                <h1>JBeshir</h1>
            </a>
        </div>
    </header>
    <main>
        <h2>Profiles</h2>
        <ul class="profile-list">
            <li><a href="https://github.com/jbeshir/">GitHub</a></li>
            <li><a href="https://www.metaculus.com/accounts/profile/100538/">Metaculus</a></li>
            <li><a href="https://predictionbook.com/users/jbeshir">PredictionBook</a></li>
            <li><a href="https://www.goodreads.com/user/show/48821743-john-beshir">Goodreads</a></li>
        </ul>

        <h2>Volunteering</h2>
        <ul class="volunteering-list">
            <li><a href="https://www.vox.com/future-perfect/2019/2/21/18235136/vaccine-malaria-research-trials-volunteers">Vox: Malaria Challenge Trial</a></li>
        </ul>

        <h2>Contests</h2>
        <ul class="contest-list">
            <li><a href="https://www.gileadlab.net/2020-insight-leaderboard.html">Top 20% In Metaculus 20/20 Insight Forecasting Contest</a></li>
        </ul>

        <h2>Writing</h2>
        <ul class="writing-list">
            <li><a href="/summaries">Overly Short Summaries</a>: Heavily abbreviated summaries of a handful of things I read, produced as an experimental reading aid and reference.</li>
        </ul>
    </main>
</body>
<AnalyticsFooter />
</html>
