---
import AnalyticsBody from './AnalyticsBody.astro';
---
<style>
  .logo, .logo * {
      display: inline-block;
      vertical-align: middle;
   }
  .logo {
      margin: 1em 3em;
  }
  .logo img {
    margin-right: 1em;
  }
</style>

<AnalyticsBody />
<div class="logo">
    <a href="/">
        <img width="60" height="80" src="/assets/logo.svg" alt="avatar">
        <h1>JBeshir</h1>
    </a>
</div>