---
const { title } = Astro.props;

import MainNav from './MainNav.astro';
---

<style lang="scss">
  .header {
    text-align: center;

    @media (min-width: 600px) {
      display: flex;
      align-items: center;
      padding: 2rem;
    }

    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  }

  .title-block {
    display: block;
    flex: 1;
    padding: 1em;
    color: inherit;
    text-decoration: none;
  }
  .title {
    font-size: 1.2em;
    letter-spacing: -0.03em;
    font-weight: 400;
    margin: 0 1em 0 0;
  }
</style>

<nav class="header">
    <MainNav />
    <a class="title-block" href="/technical">
      <h1 class="title">Technical Posts</h1>
      <div class="subtitle">Short ports about tools and technologies.</div>
    </a>
</nav>